<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>天猫tmall.com--上天猫,就够了</title>
	    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"> 
	    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
		<link rel="shortcut icon"  type="image/x-icon" href="img/favicon.ico">
		<link name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	</head>
	<body>
	<nav class="top-nav" style=" display:none;height: 50px;background: #DD2727 ;width: 100%;z-index: 1000;color: #fff ;position: fixed;">
		<div class="col-xs-offset-2 col-xs-2  logo ">
				<span style="line-height: 50px;font-size: 25px" > 天猫 TMALL.COM</span>
		</div>
		<div class="col-xs-8">
			<form class="form-inline top-form" style="line-height: 50px; width:100%;">
				<div class="form-group">
					<input type="text" style="width: 600px" class="form-control top-search" >
				</div>
				<div class="form-group" style="margin-left: -5px; ">
					<button class="btn btn-danger" style="width: 100px ;height: 36px;background:#b90500" > 搜索</button>
				</div>
			</form>
		</div>
	</nav>
	<header id="header">
		<ul class="header-user">
			<li id="index_login"><span class="login status-hover">登录 </span><span class="regist status-hover"> &nbsp; &nbsp;注册</span></li>
			<li id="index_regist"><span class="username"></span> <span class="logout status-hover"> &nbsp; &nbsp;登出</span></li>
		</ul>
		<ul class="header-nav">
			<li class="header-nav-1">
				我的淘宝
				<ul class="my-taobao">
					<li><a href="">已买到的东西</a></li>
					<li><a href="">已卖出的东西</a></li>
				</ul>
			</li>
			<li >我关注的品牌</li>
			<li class="header-nav-3">购物车</li>
			<li class="header-nav-3">收藏夹</li>
			<li>手机版</li>
			<li>淘宝网</li>
			<li>企业购</li>
			<li class="header-nav-8">商家支持
				<div class="">
					<ul>
						<h4>商家</h4>
						<li> <span>商家中心</span> <span>商家入驻</span> </li>
						<li> <span>商家中心</span> <span>商家入驻</span> </li>
						<li> <span>商家中心</span> <span>商家入驻</span> </li>
						<li> <span>商家中心</span> <span>商家入驻</span> </li>
						<li> <span>商家中心</span> <span>商家入驻</span> </li>
						<hr />
					</ul>
				</div>
			</li>
			<li>网站导航</li>
		</ul>
	</header>
	<div class="search-wrap">
		<input id="search-content" type="text" name="" id="" value="" placeholder="请输入搜索内容" />
		<div id="search">
			搜索
		</div>
	</div>
	<ul class="hot-search ui-list">
		<li>大闸蟹</li>
		<li>床垫</li>
		<li>针织衫</li>
		<li>电动牙刷</li>
		<li>睡衣</li>
		<li>大闸蟹</li>
		<li>床垫</li>
		<li>针织衫</li>
		<li>电动牙刷</li>
		<li>睡衣</li>
	</ul>
	<div class="w-wrap">
		<div class="w-wrap">
			<div class="menu-list-wrap">
				<ul class="list-inline menu-list">
					<li><a href="javascript:void(0)">首页</a></li>
					<li><a href="javascript:void(0)">全部分类 <span class="arrow"></span> </a></li>
					<li><a href="javascript:void(0)">男装</a></li>
					<li><a href="javascript:void(0)">女装</a></li>
					<li><a href="javascript:void(0)">男孩</a></li>
					<li><a href="javascript:void(0)">女孩</a></li>
					<li><a href="javascript:void(0)">幼儿</a></li>
					<li><a href="javascript:void(0)">婴儿</a></li>
					<li><a href="javascript:void(0)">品牌故事</a></li>
					<li><a href="javascript:void(0)">帮助中心</a></li>
					<li><a href="javascript:void(0)">婴儿</a></li>
				</ul>
			</div>
		</div>
		<div class="crumb-wrap" >
			<div class="w clearfix" style="line-height: 50px;">
				<div class="fl clearfix">
					<div class="item fl"><a href="javascript:void(0)"> 服饰内衣</a> </div>
					<div class="item sep fl"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
					<div class="item fl"><a href="javascript:void(0)"> 男装夹克</a> </div>
					<div class="item sep fl"> <i class="fa fa-angle-right" aria-hidden="true"></i></div>
					<div class="item fl">最下面的标题</div>
				</div>
				<div class="fr clearfix">
					<ul class="list-inline">
						<li class="shop-name"><span class="header-info">速写官方旗舰店</span> </li>
						<li  class="score-wrap">
							<span class="bg-score">
								<span class="score">&nbsp</span>
							</span>
							<span class="header-info header-score">9.54 <i class="fa fa-angle-down fa-lg icon-down"></i> 
								<div class="hover-down">
								<div>
									<div class="clearfix">
											<div class="fl">评分详细</div>
											<div class="fr">与行业相比</div>
										</div>
										<div class="clearfix">
											<div class="fl">商品评价：9.77</div>
											<div class="fr">55.0%</div>
										</div>
										<div class="clearfix">
											<div class="fl">服务态度：9.81</div>
											<div class="fr">49.0%</div>
										</div>
										<div class="clearfix">
											<div class="fl">物流速度：9.79</div>
											<div class="fr">55.0%</div>
										</div>
									</div>

									<hr style="margin:10px 0;">
									<div style="height: 40px; margin-top: -10px;">
										<button href="javascript:void(0)" class="btn btn-danger">进店逛逛</button>
										<button href="javascript:void(0)"class="btn btn-danger">关注店铺</button>
									</div>
								</div>
							</span>
						</li>
						<li><i class="fa fa-commenting fa-lg" aria-hidden="true"></i> <span class="header-info">联系卖家</span></li>
						<li><i class="fa fa-drupal fa-lg" style="color: #3897e7"></i> <span class="header-info">JINI</span></li>
						<li><i class="fa fa-star fa-lg" aria-hidden="true" style="color: #E3393C"></i> <span class="header-info">关注店铺</span></li>
						<li><i class="fa fa-qrcode fa-lg" style="color: #99cc00"></i> <span class="header-info">微店</span></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="w">
			<div class="product clearfix">
				<div class="fl product-img">
					<div class="jqzoom" style="margin-bottom: 20px;">
						<img jqimg="img/b1.jpg" src="img/s1.jpg"width="350" />	
					</div>
					<div class="product-img-all">
						<a href="javascript:void(0)" class="goleft"> <i class=" icon-angle-left"></i></a>
						<a href="javascript:void(0)" class="goright"> <i class=" icon-angle-right"></i></a>
						<div class="product-img_all">
							<ul class="list-inline">
								  <li><img alt="佳能" bimg="img/b1.jpg" src="img/s1.jpg" ></li>
						          <li><img alt="佳能" bimg="img/b2.jpg" src="img/s2.jpg" ></li>
						          <li><img alt="佳能" bimg="img/b3.jpg" src="img/s3.jpg"></li>
						          <li><img alt="佳能" bimg="img/b1.jpg" src="img/s1.jpg" ></li>
						          <li><img alt="佳能" bimg="img/b3.jpg" src="img/s3.jpg" ></li>
						          <li><img alt="佳能" bimg="img/b1.jpg" src="img/s1.jpg" ></li>
						          <li><img alt="佳能" bimg="img/b2.jpg" src="img/s2.jpg" ></li>
						          <li><img alt="佳能" bimg="img/b1.jpg" src="img/s1.jpg" ></li>
						          <li><img alt="佳能" bimg="img/b2.jpg" src="img/s2.jpg" ></li>
						          <li><img alt="佳能" bimg="img/b2.jpg" src="img/s2.jpg" ></li>
						          <li><img alt="佳能" bimg="img/b1.jpg" src="img/s1.jpg" ></li>
							</ul>
						</div>
					</div>
					<div>
						<p><i></i><span> 关注</span><i ></i><span>分享</span></p>
					</div>
					
				</div>
				<div class="fl product-info">
					<div class="product-title">
						<h4>Gap PrimaLoft 轻质弹性保暖连帽夹克|男装322305 湖蓝色 175/88A(XS)</h4>
					</div>
					<div class="product-price-wrap-w">
						<div class="product-price-wrap">
							<div class=" clearfix">
								<div class="product-price fl">天猫价</div>
								<div class="fl"><span class="text-danger">￥799.00</span> <span class="small text-primary">降价通知</span></div>
								<div class="fr"><span>去刮劵</span> <div class="renturn_right"></div></div>
							</div>
							<div class=" clearfix">
								<div class="product-discount fl">促&nbsp;&nbsp;&nbsp;&nbsp;销</div>
								<div class="fl">
									<p class="small-gray">请<a href="" style="color: #E4393C">登录</a>确认是否享受优惠</p>
									<p class="small-gray">满1件，总价打7.00折；满2件，总价打6.00折   详情 >></p>
								</div>
							</div>
							<div class=" clearfix">
								<div class="product-counpon fl">领&nbsp;&nbsp;&nbsp;&nbsp;劵</div>
								<div class="fl" style="color: #E4393C">满299减30</div>
							</div>
						</div>
						<div class="address-wrap clearfix">
							<div class="fl">
								<p>配送至</p>
							</div>
							<div class="fl">
								<p class="small-gray">江苏南京市江宁区 有货支持货到付款 送保险</p>
								<p class="small-gray">店铺单笔订单不满199元，收运费6元 </p>
								<p class="small-gray">由<span style="color: #E4393C">Gap官方旗舰店</span>从 江苏苏州市 发货，并提供售后服务。</p>
							</div>
						</div>
						<div class="color clearfix">
							<div class="fl">颜 &nbsp;&nbsp; 色</div>
							<div class="fl"></div>
						</div>
						<div class="size clearfix">
							<div class="fl">尺 &nbsp;&nbsp; 寸</div>
							<div class="fl">
								<p>111</p>
								<p>22</p>
							</div>
						</div>
						<div class=" clearfix">
							<div class="fl">白 &nbsp;&nbsp; 条</div>
							<div class="fl">
							    30天免息
							</div>
						</div>
						<hr>
						<div class="color clearfix">
							<div class="fl">
								<div class="clearfix search-num-wrap" >
									<div class="fl" style="width: 15px">
										<input type="text" class="form-control" id="product-number" value="1">
									</div>
									<div class="fr add-wrap"  >
										<a href="javascript:void(0)" id="add_">+</a> <br>
										<a href="javascript:void(0)" id="minu_">-</a>
									</div>
								</div>
							</div>
							<div class="fl">
								<button class="btn btn-large btn-danger add-buy">加入购物车</button>
						</div>
					</div>
					<br>
					<p class="small-gray">温馨提示·支持7天无理由退货</p>
				</div>
				<div class="fr product-relevant">
				</div>
			</div>
		</div>
		<div class="manager-rec-w">
			<div class="manager-rec-wrp">
				<div class="manager-rec">店长推荐</div>
			</div>
			<ul class="list-inline manger-re-ul">
				<li>
					<a href="javascript:void(0)"> <img src="img/manger-c.jpg" alt=""></a>
					<div class="img-tip">诺帝卡 NAUTICA 新款 女士 T恤 61KC11 深蓝色 40R S</div>
				</li>
				<li>
					<a href="javascript:void(0)"> <img src="img/manger-c.jpg" alt=""></a>
					<div class="img-tip">诺帝卡 NAUTICA 新款 女士 T恤 61KC11 深蓝色 40R S</div>
				</li>
				<li>
					<a href="javascript:void(0)"> <img src="img/manger-c.jpg" alt=""></a>
					<div class="img-tip">诺帝卡 NAUTICA 新款 女士 T恤 61KC11 深蓝色 40R S</div>
				</li>
				<li>
					<a href="javascript:void(0)"> <img src="img/manger-c.jpg" alt=""></a>
					<div class="img-tip">诺帝卡 NAUTICA 新款 女士 T恤 61KC11 深蓝色 40R S</div>
				</li>
				<li>
					<a href="javascript:void(0)"> <img src="img/manger-c.jpg" alt=""></a>
					<div class="img-tip">诺帝卡 NAUTICA 新款 女士 T恤 61KC11 深蓝色 40R S</div>
				</li>
				<li>
					<a href="javascript:void(0)"> <img src="img/manger-c.jpg" alt=""></a>
					<div class="img-tip">诺帝卡 NAUTICA 新款 女士 T恤 61KC11 深蓝色 40R S</div>
				</li>
			</ul>
		</div>
		<div class="clearfix" style="margin-top: 20px;">
			<div class="aside fl">
				<div class="manger-info">
					<div class="shop_name title-bg">
						NAUTICA诺帝卡女装旗
					</div>
					<div class="clearfix">
						<div class="fr">
							<div class="score-some product-score"> 商品评价 9.58</div>
							<div class="score-some  server-score"> 服务态度 9.61</div>
							<div class="score-some  logistics-score"> 物流速度 9.60</div>
						</div>
						<div class="fr">
							<div class="score-all"> 93.64</div>
						</div>
					</div>
					<hr>
					<div class="shop-follow">
						<a href="javascript:void(0)">进店逛逛</a>
						<a href="javascript:void(0)">关注店铺</a>
					</div>
				</div>
				<div class=" service-center manger-info" style="margin-top: 10px;">
					<div class=" title-bg">
						客服中心
					</div >
					<div  class="service-info">
						<div>
							<p>  工作时间： 9:00-23:00</p>
						</div>
						<hr>
						<div>
							<p>  在线咨询：</p>
						</div>
						<hr>
						<div>
							<p>  NAUTICA女装旗舰店客服</p>
						</div>
					</div>
					<hr>
				</div>
				<div class="  manger-info" style="margin-top: 10px;">
					<div class=" title-bg">
						店铺搜索
					</div >
					<div  class="shop-search-content">
						<div>
							<p><label for="">关键字：</label><input id="keyword" type="text"></p>
						</div>
						<div>
							<p>  <label for="">价 &nbsp;&nbsp; 格：</label><input class="date-from" type="text">到<input class="date-to" type="text"></p>
							<div>
								<p id="shop-search"> <button>搜索</button></p>
							</div>
						</div>
					</div>
				</div> 
				<div class=" shop-type" style="margin-top: 10px;">
					<div class=" title-bg">
						店铺分类
					</div >
					<ul class="list-unstyled shop-type-ul">
						<li>
							<span>+ </span> 裙装
							<ul class="list-unstyled second-ul">
								<li>连衣裙</li>
								<li>半身裙</li>
							</ul>
						</li>
						<li><span>+ </span> 毛衣
							<ul class="list-unstyled second-ul">
								<li>连衣裙</li>
								<li>半身裙</li>
							</ul>
						</li>
						<li><span>-</span> 西装
							<ul class="list-unstyled second-ul">
							
							</ul>
						</li>
							<li>
							<span>+ </span> 裙装
							<ul class="list-unstyled second-ul">
								<li>连衣裙</li>
								<li>半身裙</li>
							</ul>
						</li>
						<li><span>+ </span> 毛衣
							<ul class="list-unstyled second-ul">
								<li>连衣裙</li>
								<li>半身裙</li>
							</ul>
						</li>
						<li><span>-</span> 西装
							<ul class="list-unstyled second-ul">
							
							</ul>
						</li>
					</ul>
				</div> 
				<div class="  manger-info sell-hot" style="margin-top: 10px;">
					<div class="title-bg ">
						<a href="javascript:void(0)" class="sell-hot-class">店铺热销</a><a href="javascript:void(0)">热门关注</a>
					</div >
					<ul class="list-unstyled text-center product-hot">
						<li>
							<img src="img/hot-sell.jpg" alt="" title="111">
							<div class="clearfix">
								<div class="fl"><div class="number">6</div><span class="text-muted">热销6件</span></div>
								<div class="fr"><p class="text-danger">￥327.00</p></div>
							</div>
						</li>
						<li>
							<img src="img/hot-sell.jpg" alt="" title="111">
							<div class="clearfix">
								<div class="fl"><div class="number">6</div><span class="text-muted">热销6件</span></div>
								<div class="fr"><p class="text-danger">￥327.00</p></div>
							</div>
						</li>
						<li>
							<img src="img/hot-sell.jpg" alt="" title="111">
							<div class="clearfix">
								<div class="fl"><div class="number">6</div><span class="text-muted">热销6件</span></div>
								<div class="fr"><p class="text-danger">￥327.00</p></div>
							</div>
						</li>
						<li>
							<img src="img/hot-sell.jpg" alt="" title="111">
							<div class="clearfix">
								<div class="fl"><div class="number">6</div><span class="text-muted">热销6件</span></div>
								<div class="fr"><p class="text-danger">￥327.00</p></div>
							</div>
						</li>
					</ul>
				</div> 
	
			</div>
			<div class="main fl">
				<div class="title-bg">
					<ul class="list-inline main-menu-ul">
						<li><a href="javascript:void(0)" class="sell-hot-class"> 商品介绍</a></li>
						<li><a href="javascript:void(0)"> 售后保障</a></li>
						<li><a href="javascript:void(0)"> 商品评价</a></li>
						<li><a href="javascript:void(0)"> 本店好评商品</a></li>
						<div class="extra" >
							<div class="code" style="display: inline-block;"> <span class="code-bg"></span> <span>扫一扫下单</span></div>
							<div style="display: inline-block;"><a href="javascript:void(0)"  class="a-btn" >加入购物车</a></div>
						</div>
					</ul>
				</div>

				<div style="padding: 20px;">
					<p>品牌： 诺帝卡（NAUTICA）</p>
					<ul class="list-inline product-intro-ul">
						<li>商品名称：诺帝卡 NAUTICA 新款 </li>
						<li>商品编号：10327032004</li>
						<li>店铺： NAUTICA诺帝卡女装旗舰店</li>
						<li>商品毛重：1.0kg</li>
						<li>尺码：其它</li>
						<li>版型：修身型</li>
						<li>类型：T恤</li>
						<li>领型：圆领</li>
					</ul>
					<hr/>
					<div class="detail-intro">
						<img src="img/detail.jpg" alt="" usemap="#map1">
						<map name="map1" id="map1">
							<area shape="rect" coords="85,8,350,130" href="http://www.baidu.com" alt="">
							<area shape="rect" coords="365,8,580,130" href="http://www.baidu.com" alt="">
							<area shape="rect" coords="595,8,800,130" href="http://www.baidu.com" alt="">
						</map>
					</div>
				</div>
			</div>
		</div>
	</div>
		<script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8" src="/bootstrap/js/bootstrap.min.js"></script>
		<script src="/javascripts/jquery.plugs.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/jquery.jqzoom.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/main.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
