<style type="text/css">
	.share-wrap{
		padding: 20px 50px;
	}
	.share-img-info{
		vertical-align: middle;
	}
	.share-img-wrap{
		padding: 20px;
	}
</style>
<h4>账号绑定管理</h4>
<hr />
<div class="share-wrap">
	<p>同步分享</p>
	<span class="text-muted">绑定主流社交网站账号，可以快速地将你在淘宝中觉得有趣的内容分享给相应网站上的朋友们。赶紧开始你的分享之旅吧!</span>
	<div class="share-img-wrap">
		<p class="display-inblock"> <img src="/img/people (1).png" width="70"height="70"/></p>
		<div class="display-inblock share-img-info" >
			<p>人人网</p>
			<p><button class="btn btn-primary">马上绑定</button></p>
		</div>	
	</div>
	<hr />
	<div class="share-img-wrap">
		<p class="display-inblock"><img src="/img/people (2).png" width="70"height="70"/></p>
		<div class="display-inblock share-img-info">
			<p>人人豆瓣网</p>
			<p><button class="btn btn-primary">马上绑定</button></p>
		</div>	
	</div>
</div>

