<style type="text/css">
	.secret-ul{
		padding: 20px 80px;
	}
	.secret-ul li{
		height: 80px;
		line-height: 80px;
	}
	.secret-ul li div:first-child{
		display: inline-block;
		width: 500px;
	}
	.secret-ul li label{
		display:inline-block;
		width: 150px;
	}
	.secret-ul li input{
		margin-right: 15px;
	}
	.secret_save{
		margin-left: 160px;
	}
</style>
<h5 class="user_info-title">个人资料</h5>
<hr / style="margin: 0;">
<ul class="secret-ul list-unstyled">
	<li>
		<div>
			<label for="">谁可以防伪我的动态</label>
	        <input type="radio"  name="visit"/>所有人
	        <input type="radio"  name="visit"/>与我互动的粉丝
	        <input type="radio"  name="visit"/>只有我自己        
		</div>
        <a href="javascript:void(0)"  class="text-muted">设置谁可以看到我的动态</a>
	</li>
	<li>
		<div >
			<label for="">允许搜找到我</label>
	        <input type="radio"  name="visit"/>是
	        <input type="radio"  name="visit"/>否    
		</div>
        <a href="javascript:void(0)" class="text-muted">设置是否可以通过搜索找到我，修改10分钟后生效</a>
	</li>
	<li>
		<div>
			<label for="">谁能关注我</label>
			<input type="radio"  name="find"/>所有人
		</div>
        
   	</li>
   	<li>
		<button class="btn btn-default secret_save" >保存</button>
        
   	</li>
</ul>
