<style type="text/css">
	.wangwang-bg{
		background: #edfed0;
		width: 90%;
		margin: 0 auto;
		padding: 30px 40px;
		margin-top: 20px;
	}
	.wangwang-bg p{
		margin: 0;
	}
	.wangwang-form{
		padding: 20px 50px;
	}
	.wangwang-label{
		color: #369;
		font-size: 18px;
		margin-right: 20px;
	}
	.wangwang-form .text-danger{
		margin: 20px 0;
	}
	.wangwang-form input{
		margin-left: 20px;
	}
</style>

<h5 class="user_info-title">阿里旺旺网页版设置</h5>
<div class="wangwang-bg">
	<p>阿里旺旺网页版本是为那些没有安装阿里旺旺客户端的用户提供的交流工具。无需下载和安装，
使你和卖家(朋友)可以自由沟通交流，即时收到交易的提醒~！</p>
</div>
<form action="" class="form-horizontal wangwang-form">
	<label class="wangwang-label" for="">登陆设置</label>
	<input type="radio" name="start_up" />登录淘宝时启动
	<input type="radio" name="start_up" />登录淘宝时不启动
	<p class="text-danger">注意：如果你安装了阿里旺旺客户端，将优先使用客户端，不启用阿里旺旺网页版。</p>
	<button class="btn btn-default ">确定</button>
</form>
