<style type="text/css">
	.Alipay-bg{
		background: #edfed0;
		width: 90%;
		margin: 0 auto;
		padding: 10px 40px;
		margin-top: 20px;
	}
	.Alipay-bg i{
		font-size: 60px;
		color: #94c324;
		margin-right: 10px;
	}
	.Alipay-ul li{
		margin:0px  50px;
		border-bottom: 1px solid #eee;
		height: 60px;
		line-height: 60px;
	}
	.Alipay-ul li .text-muted{
		display: inline-block;
		margin-left: 120px;
		width: 400px;
	}
	.Alipay-ul li a{
		color: #369;
	}
</style>

<h5 class="user_info-title">支付宝绑定设置</h5>
<div class="Alipay-bg">
	<div class="display-inblock"> <i class="fa fa-check-square" aria-hidden="true"></i></div>
	<div class="display-inblock">
		<p>已绑定支付宝账户：<span>183****982</span></p>
		<p><a href="">进入支付宝 | 换绑支付宝</a></p>
	</div>
</div>
<ul class="list-unstyled Alipay-ul">
	<li><label for="">邮箱</label> <span></span></li>
	<li><label for="">绑定手机</label> <span class="text-muted">183*****982</span><a href="">修改</a></li>
	<li><label for="">账户类型</label><span class="text-muted">个人账户</span></li>
	<li><label for="">实名认证</label><span class="text-muted">王* | 3****************4 已认证</span><a href="">查看</a></li>
</ul>