<style type="text/css">
	.safe-header{
		padding: 10px 50px;
	}
	.safe-header p span{
		display: inline-block;
		width: 80px;
	}
	#add_email,#revise_phone{
		margin-left: 10px;
		color: #36c;
	}
	#add_email:hover,#revise_phone:hover{
		color:#f60;
		text-decoration:underline;
	}
	.safe-ul li{
		padding: 30px 20px;
	}
	.rank{
		color: #94c324;
		margin: 0px 10px;
	}
	.safe-ul li span:first-child{
		position: relative;
		margin-right:20px ;
	}
	.safe-ul li span:first-child::after{
		position: absolute;
		bottom: -20px;
		left: -15px;
		content:  attr(data);
		width: 50px;
	}
	.safe-ul li span:first-child i{
		font-size: 24px;
		color: #94c324;
	}
	.two-marin{
		margin-right: 30px;
	}
	.three-marin{
		display: inline-block;
		width: 400px;
		vertical-align: -webkit-baseline-middle;
		height: 34px;
	}
	.safe-ul li a{
		vertical-align: text-bottom;
		margin: 0 20px;
		color:  #36c;
	}
	.safe-ul li a:hover{
		color:#f60;
	}
</style>
<div style="padding: 10px 40px;">
	<div >
		<h5>您的基础信息</h5>
		<div class="safe-header">
			<p><span>会员名:</span> heianqishi2012</p>
			<p> <span>登录邮箱：</span> 您尚未设置登录邮箱 <a id="add_email" href="">添加登录邮箱</a> </p>
			<p><span>绑定手机：</span> 183****7892 <a  id="revise_phone" href="">修改手机</a></p>
		</div>
		
	</div>
	<hr />
	<div>
		<h5>您的安全服务</h5>
		<ul class="safe-ul list-unstyled">
			<li><span>安全等级:</span><span class="rank">高</span><span class="slip-bar"></span></li>
			<li><span data="已完成"><i class="fa fa-check" aria-hidden="true"></i></span> <span class="two-marin">身份认证</span><span class="three-marin">用于提升账号的安全性和信任级别。认证后的有卖家记录的账号不能修改认证信息。</span><span><a href="">查看</a></span></li>
			<li><span data="已设置"><i class="fa fa-check" aria-hidden="true"></i></span> <span class="two-marin">登录密码</span><span class="three-marin">安全性高的密码可以使账号更安全。建议您定期更换密码，且设置一个包含数字和字母，并长度超过6位以上的密码。</span><span><a href="">查看</a></span></li>
			<li><span data="已设置"><i class="fa fa-check" aria-hidden="true"></i></span> <span class="two-marin">密保问题</span><span class="three-marin">是您找回登录密码的方式之一。建议您设置一个容易记住，且最不容易被他人获取的问题及答案，更有效保障您的密码安全。</span><span><a href="">查看</a></span></li>
			<li><span data="已绑定"><i class="fa fa-check" aria-hidden="true"></i></span> <span class="two-marin">绑定手机</span><span class="three-marin">绑定手机后，您即可享受淘宝丰富的手机服务，如手机找回密码等。</span><span><a href="">查看</a></span></li>
			
			
		</ul>
	
	</div>
</div>