<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>天猫tmall.com--上天猫,就够了</title>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
		<link name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	</head>

	<body style="position: relative;">
		<header id="header">
			<ul class="header-user">
				<li id="index_login"><span class="login status-hover">登录 </span><span class="regist status-hover"> &nbsp; &nbsp;注册</span></li>
				<li id="index_regist"><span class="username"></span> <span class="logout status-hover"> &nbsp; &nbsp;登出</span></li>
			</ul>
			<ul class="header-nav">
				<li class="header-nav-1 header-score">
					<span id="my-taobao_">我的淘宝</span><i class="fa fa-angle-down fa-lg icon-down"></i>
					<ul class="my-taobao">
						<li>
							<a href="">已买到的东西</a>
						</li>
						<li>
							<a href="">已卖出的东西</a>
						</li>
					</ul>
				</li>
				<li>我关注的品牌</li>
				<li class="header-nav-3">购物车</li>
				<li class="header-nav-3">收藏夹</li>
				<li>手机版</li>
				<li>淘宝网</li>
				<li>企业购</li>
				<li class="header-nav-8">商家支持
					<div class="">
						<ul>
							<h5>商家</h5>
							<li> <span>商家中心</span> <span>商家入驻</span> </li>
							<li> <span>商家中心</span> <span>商家入驻</span> </li>
							<li> <span>商家中心</span> <span>商家入驻</span> </li>
							<li> <span>商家中心</span> <span>商家入驻</span> </li>
							<li> <span>商家中心</span> <span>商家入驻</span> </li>
							<hr />
						</ul>
					</div>
				</li>
				<li>网站导航</li>
			</ul>
		</header>
		<nav class="shoppingCart-bar " >
			<div class=" clearfix">
				<div class="fl taobao-color ">
					<h3 class="display-inblock">我的淘宝<br /><span class="eg-taobao">Taobao.com</span></h3>
					<span class="shoppingcar">购物车</span>
				</div>
				<div class="fr">
					<div class="shoppingCart-searcW">
						<select name=""class="select-style ">
							<option value="">宝贝</option>
							<option value="">店铺</option>
						</select>
						<i class="fa fa-search" aria-hidden="true"></i>
						<input class="shoppingCart-search" type="text" /><div class="display-inblock">搜索</div>
					</div>
					
				</div>
			</div>
		</nav>
		<main class="shopingCart-main">
			<div class="clearfix">
				<div class="col-xs-6 cart-switch">
					<span class="taobao-color">全部商品</span><span>降价商品</span><span>库存紧张</span>
				</div>
				<div class="col-xs-offset-9 text-right">
					<span>已选商品(不含运费)</span>
					<span class="taobao-color">0.00</span>
					<button class="btn btn-default">结算</button>
				</div>
			</div>
			<hr />
			<div class="cart-field">
				<label for="" class="cart-selectBox-top "id="cart_select_all"></label>全选 <span class="cart-inner" style="" >商品信息</span> 
				<span class="cart-info">
					1122
				</span>
				<span class="cart-price">
					单价
				</span>
				<span class="cart-amount">
					数量
				</span>
				<span class="cart-sum">
					金额
				</span>
				<span class="cart-operate">
					操作
				</span>				
			</div>
			<h5 style="margin-left: 15px;"><span style="color: black;">店铺</span>:壁虎侠服饰旗舰店</h5>
			<div class="cart-ul-wrp">
				<ul class="list-unstyled cart-ul">
					
					<label class="cart-selectBox" style="margin-left: 8px;"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<li class="cart-inner clearfix"  >
						<div class="col-xs-4">
							<img src="/img/jd (3).jpg" alt="" />
						</div>
						<div class="col-xs-8">
							<p>
								<a href="">冬季长裤男士休闲裤修身商务秋冬款加绒正装西裤子男裤2016新款潮</a>
							</p>
							<p></p>
						</div>
					</li> 
					<li class="cart-info cart-info_ text-muted">
						<p >颜色:#21纯黑色(秋冬款)</p>
						<p>尺码：31</p>
					</li>
					<li class="cart-price">
						<p><del class="text-muted">￥123元</del></p>
						<p>￥100元</p>
						
					</li>
					<li class="cart-amount">
						<input type="number" min="1" value="1" style="width:45px"/>
					</li>
					<li class="cart-sum">
						<p class="taobao-color">￥100元</p>
						<p>&nbsp;</p>
					</li>
					<li class="cart-operate">
						<p><a href="">移入收藏夹</a> </p>
						<p><a href="">删除</a></p>
					</li>	
				</ul>
				<ul class="list-unstyled cart-ul">
					<label class="cart-selectBox" style="margin-left: 8px;"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<li class="cart-inner clearfix"  >
						<div class="col-xs-4">
							<img src="/img/jd (3).jpg" alt="" />
						</div>
						<div class="col-xs-8">
							<p>
								<a href="">冬季长裤男士休闲裤修身商务秋冬款加绒正装西裤子男裤2016新款潮</a>
							</p>
							<p></p>
						</div>
					</li> 
					<li class="cart-info cart-info_ text-muted">
						<p >颜色:#21纯黑色(秋冬款)</p>
						<p>尺码：31</p>
					</li>
					<li class="cart-price">
						<p><del class="text-muted">￥123元</del></p>
						<p>￥100元</p>
						
					</li>
					<li class="cart-amount">
						<div>
							<a href="javascript:void(0)"></a>
							<input type="number" min="1" value="1" style="width:45px"/>
							<a href="javascript:void(0)"></a>
						</div>
					</li>
					<li class="cart-sum">
						<p class="taobao-color">￥100元</p>
						<p>&nbsp;</p>
					</li>
					<li class="cart-operate">
						<p><a href="">移入收藏夹</a> </p>
						<p><a href="">删除</a></p>
					</li>	
				</ul>
			</div>
			<h5 style="margin-left: 15px;"><span style="color: black;">店铺</span>:壁虎侠服饰旗舰店</h5>
			<div class="cart-ul-wrp">
				<ul class="list-unstyled cart-ul">
					
					<label class="cart-selectBox" style="margin-left: 8px;"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<li class="cart-inner clearfix"  >
						<div class="col-xs-4">
							<img src="/img/jd (3).jpg" alt="" />
						</div>
						<div class="col-xs-8">
							<p>
								<a href="">冬季长裤男士休闲裤修身商务秋冬款加绒正装西裤子男裤2016新款潮</a>
							</p>
							<p></p>
						</div>
					</li> 
					<li class="cart-info cart-info_ text-muted">
						<p >颜色:#21纯黑色(秋冬款)</p>
						<p>尺码：31</p>
					</li>
					<li class="cart-price">
						<p><del class="text-muted">￥123元</del></p>
						<p>￥100元</p>
						
					</li>
					<li class="cart-amount">
						<input type="number" min="1" value="1" style="width:45px"/>
					</li>
					<li class="cart-sum">
						<p class="taobao-color">￥100元</p>
						<p>&nbsp;</p>
					</li>
					<li class="cart-operate">
						<p><a href="">移入收藏夹</a> </p>
						<p><a href="">删除</a></p>
					</li>	
				</ul>
				<ul class="list-unstyled cart-ul">
					<label class="cart-selectBox" style="margin-left: 8px;"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<li class="cart-inner clearfix"  >
						<div class="col-xs-4">
							<img src="/img/jd (3).jpg" alt="" />
						</div>
						<div class="col-xs-8">
							<p>
								<a href="">冬季长裤男士休闲裤修身商务秋冬款加绒正装西裤子男裤2016新款潮</a>
							</p>
							<p></p>
						</div>
					</li> 
					<li class="cart-info cart-info_ text-muted">
						<p >颜色:#21纯黑色(秋冬款)</p>
						<p>尺码：31</p>
					</li>
					<li class="cart-price">
						<p><del class="text-muted">￥123元</del></p>
						<p>￥100元</p>
						
					</li>
					<li class="cart-amount">
						<div>
							<a href="javascript:void(0)"></a>
							<input type="number" min="1" value="1" style="width:45px"/>
							<a href="javascript:void(0)"></a>
						</div>
					</li>
					<li class="cart-sum">
						<p class="taobao-color">￥100元</p>
						<p>&nbsp;</p>
					</li>
					<li class="cart-operate">
						<p><a href="">移入收藏夹</a> </p>
						<p><a href="">删除</a></p>
					</li>	
				</ul>
			</div>
		</main>
		<div style="margin-top: 80px;">
			<div style=" width: 100%;min-width: 1200px;">
				<div class="footer-info-wrap" style="background: #f1f1f1; color: #505050;">
					<div style=" width: 1000px; margin:0 auto;padding: 1px;text-align: center; position: relative;">
						<ul class="list-inline " style="margin-top: 10px;">
							<li>关于天猫 </li>
							<li>帮助中心</li>
							<li>规则意见征集</li>
							<li>开放平台</li>
							<li>诚聘英才</li>
							<li>联系我们</li>
							<li>网站合作</li>
							<li>法律声明</li>
							<li>知识产权</li>
							<li>廉正举报</li>
						</ul>
						<ul class="list-inline partner">
							<li>阿里巴巴集团</li>
							<li> 淘宝网</li>
							<li>天猫</li>
							<li>聚划算</li>
							<li>全球速卖通</li>
							<li>阿里妈妈</li>
							<li>阿里旅行·去啊</li>
							<li>阿里云计算</li>
							<li>YunOS</li>
							<li style="border-right: none">阿里通信</li>
						</ul>
						<span class="footer_children" style="right: 60px;"></span>
					</div>
				</div>
			</div>
		</div>
		<script src="javascripts/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8" src="bootstrap/js/bootstrap.min.js"></script>
		<script src="javascripts/jquery.plugs.js" type="text/javascript" charset="utf-8"></script>
		<script src="javascripts/main.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>