
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>已买到的宝贝</title>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
		<link name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	</head>

	<body style="position: relative;">
		<header id="header">
			<ul class="header-user">
				<li id="index_login"><span class="login status-hover">登录 </span><span class="regist status-hover"> &nbsp; &nbsp;注册</span></li>
				<li id="index_regist"><span class="username"></span> <span class="logout status-hover"> &nbsp; &nbsp;登出</span></li>
			</ul>
			<ul class="header-nav">
				<li class="header-nav-1 header-score">
					<span id="my-taobao_">我的淘宝</span><i class="fa fa-angle-down fa-lg icon-down"></i>
					<ul class="my-taobao">
						<li>
							<a href="">已买到的东西</a>
						</li>
						<li>
							<a href="">已卖出的东西</a>
						</li>
					</ul>
				</li>
				<li>我关注的品牌</li>
				<li class="header-nav-3">购物车</li>
				<li class="header-nav-3">收藏夹</li>
				<li>手机版</li>
				<li>淘宝网</li>
				<li>企业购</li>
				<li class="header-nav-8">商家支持
					<div class="">
						<ul>
							<h5>商家</h5>
							<li> <span>商家中心</span> <span>商家入驻</span> </li>
							<li> <span>商家中心</span> <span>商家入驻</span> </li>
							<li> <span>商家中心</span> <span>商家入驻</span> </li>
							<li> <span>商家中心</span> <span>商家入驻</span> </li>
							<li> <span>商家中心</span> <span>商家入驻</span> </li>
							<hr />
						</ul>
					</div>
				</li>
				<li>网站导航</li>
			</ul>
		</header>
		<nav class="user-bar">
			<div class="bar-inwrap clearfix">
				<div class="fl">
					<h3 class="display-inblock user-bar-title">我的淘宝</h3>
				</div>
				<ul class="list-inline display-inblock user-bar-list">
						<li><a href="javascript:void(0)" class="subscript">首页</a></li>
						<li><a href="javascript:void(0)">账户设置</a></li>
						<li><a href="javascript:void(0)">消息</a></li>
					</ul>
				<div class="fr user-search">
					<input  type="text" /><button>搜索</button>
				</div>
			</div>
		</nav>
		<main class="shoppingCart-bar clearfix">
			<div class=" user-aside col-xs-2">
				<dl>
    				<dt>全部功能</dt>
    				<dt id="user_shopping">我的购物车</dt>
    				<dt id="user_listBought">已经买到的宝贝</dt>
    				<dt>购买过的店铺</dt>
    				<dt>我的收藏</dt>
    				<dt>天猫积分</dt>
    				<dt>我的优惠信息</dt>
    				<dt>我的评价</dt>
    				<dt>退款维权</dt>
    				<dt>我的足迹</dt>
    			</dl>
    			<dl>
    				<dt>最近访问</dt>
    				<dt>咸鱼</dt>
    				<dt>爱逛街</dt>
    			</dl>
			</div>
			<div class="col-xs-10">
				
	
				<div class="bought-content">
					<ul class="list-inline bought-header">
						<li>全部店铺 </li>
						<li>家居</li>
						<li>生活服务</li>
						<li>男鞋</li>
						<li>数码</li>
						<li></li>
						<li></li>
					</ul>
					<form class="form-inline">
						<div>
							<input type="text" class="form-control" placeholder="搜索购买过的店铺" style="width: 200px; display: inline-block;"/>
							<button style="margin-left: -5px;" class="btn btn-default"><i class="fa fa-search"></i></button>
						</div> 
					</form>
					<ul class="list-unstyled shopped-list">
						<li class="clearfix">
							<div class="col-xs-1">
								<img src="/img/football.jpg" class="img-responsive img-circle" alt="" />
							</div>
							<div class="col-xs-2">
								<p>AAAA春暖花开</p>
								<p>zyy75 <i class="fa fa-commenting-o" aria-hidden="true"></i></p>
								<p class="collect-shopped"><i class="fa fa-star-o" aria-hidden="true"></i>收藏店铺</p>
							</div>
							<div class="col-xs-9">
								<div style="width: 110px;height: 110px;">
									<img class="img-responsive" src="/img/product-list 3 (1).png"/>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="col-xs-1">
								<img src="/img/football.jpg" class="img-responsive img-circle" alt="" />
							</div>
							<div class="col-xs-2">
								<p>AAAA春暖花开</p>
								<p>zyy75 <i class="fa fa-commenting-o" aria-hidden="true"></i></p>
								<p class="collect-shopped"><i class="fa fa-star-o" aria-hidden="true"></i>收藏店铺</p>
							</div>
							<div class="col-xs-9">
								<div style="width: 110px;height: 110px;">
									<img class="img-responsive" src="/img/product-list 3 (1).png"/>
								</div>
							</div>
						</li>
					</ul>
				</div>
				
			</div>
		</main>
		<div style="margin-top: 80px;">
			<div style=" width: 100%;min-width: 1200px;">
				<div class="footer-info-wrap" style="background: #f1f1f1; color: #505050;">
					<div style=" width: 1000px; margin:0 auto;padding: 1px;text-align: center; position: relative;">
						<ul class="list-inline " style="margin-top: 10px;">
							<li>关于天猫 </li>
							<li>帮助中心</li>
							<li>规则意见征集</li>
							<li>开放平台</li>
							<li>诚聘英才</li>
							<li>联系我们</li>
							<li>网站合作</li>
							<li>法律声明</li>
							<li>知识产权</li>
							<li>廉正举报</li>
						</ul>
						<ul class="list-inline partner">
							<li>阿里巴巴集团</li>
							<li> 淘宝网</li>
							<li>天猫</li>
							<li>聚划算</li>
							<li>全球速卖通</li>
							<li>阿里妈妈</li>
							<li>阿里旅行·去啊</li>
							<li>阿里云计算</li>
							<li>YunOS</li>
							<li style="border-right: none">阿里通信</li>
						</ul>
						<span class="footer_children" style="right: 60px;"></span>
					</div>
				</div>
			</div>
		</div>
		<script src="javascripts/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8" src="bootstrap/js/bootstrap.min.js"></script>
		<script src="javascripts/jquery.plugs.js" type="text/javascript" charset="utf-8"></script>
		<script src="javascripts/main.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>