<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>天猫tmall.com--上天猫,就够了</title>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
		<link name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	</head>

	<body style="background: #f1f1f1;">
		<header id="header">
			<ul class="header-user">
				<li id="index_login"><span class="login status-hover">登录 </span><span class="regist status-hover"> &nbsp; &nbsp;注册</span></li>
				<li id="index_regist"><span class="username"></span> <span class="logout status-hover"> &nbsp; &nbsp;登出</span></li>
			</ul>
			<ul class="header-nav">
				<li class="header-nav-1 header-score">
					<span id="my-taobao_">我的淘宝</span><i class="fa fa-angle-down fa-lg icon-down"></i>
					<ul class="my-taobao">
						<li>
							<a href="">已买到的东西</a>
						</li>
						<li>
							<a href="">已卖出的东西</a>
						</li>
					</ul>
				</li>
				<li>我关注的品牌</li>
				<li class="header-nav-3">购物车</li>
				<li class="header-nav-3">收藏夹</li>
				<li>手机版</li>
				<li>淘宝网</li>
				<li>企业购</li>
				<li class="header-nav-8">商家支持
					<div class="">
						<ul>
							<h5>商家</h5>
							<li> <span>商家中心</span> <span>商家入驻</span> </li>
							<li> <span>商家中心</span> <span>商家入驻</span> </li>
							<li> <span>商家中心</span> <span>商家入驻</span> </li>
							<li> <span>商家中心</span> <span>商家入驻</span> </li>
							<li> <span>商家中心</span> <span>商家入驻</span> </li>
							<hr />
						</ul>
					</div>
				</li>
				<li>网站导航</li>
			</ul>
		</header>
		<nav class="user-bar personal-center" >
			<div class="bar-inwrap clearfix">
				<div class="fl">
					<h3 class="display-inblock user-bar-title">我的淘宝</h3>
				</div>
				<ul class="list-inline display-inblock user-bar-list">
					<li><a href="javascript:void(0)" >首页</a></li>
					<li><a href="javascript:void(0)">账户设置</a></li>
					<li><a href="javascript:void(0)">消息</a></li>
					
				</ul>
				<div class=" fr user-search">
					<input  type="text" /><button>搜索</button>
				</div>
			</div>
		</nav>
		<main class="user-content personal-center clearfix" style="background: #fff; ">
			<div class=" user-aside personal-aside col-xs-2" style="background:#f5f5f5 ; min-height: 850px;">
				<dl>
    				<dt>全部功能</dt>
    				<dt>
    					<ul class="">
    						<li><a id="set_safe" href="javascript:void(0)"> 安全设置</a></li>
    						<li><a id="set_personal" href="javascript:void(0)"> 个人资料</a></li>
    						<li><a id="set_secret" href="javascript:void(0)"> 隐私设置</a></li>
    						<li><a id="set_group" href="javascript:void(0)"> 个人成长信息(无)</a></li>
    						<li><a id="set_Alipay" href="javascript:void(0)"> 支付宝绑定设置</a></li>
    						<li><a id="set_blog" href="javascript:void(0)"> 微博绑定设置(无)</a></li>
    						<li><a id="set_business" href="javascript:void(0)"> 个人交易信息</a></li>
    						<li><a id="set_adress" href="javascript:void(0)"> 收货地址</a></li>
    						<li><a id="set_remind" href="javascript:void(0)"> 网站提醒(无)</a></li>
    						<li><a id="set_wangwang" href="javascript:void(0)"> 旺旺网页版设置</a></li>
    						<li><a id="set_empower" href="javascript:void(0)"> 应用授权</a></li>
    						<li><a id="set_share" href="javascript:void(0)"> 分享绑定</a></li>
    					</ul>
    				</dt>
    			
    			</dl>
    			
			</div>
			<div class="col-xs-10"  id="set_content" style="border: 1px solid #eee;padding: 0; min-height: 850px;"></div>
		</main>
		
		<div style=" width: 100%;">
			<div class="footer-info-wrap" style="background: #f1f1f1; color: #505050;">
				<div style="width: 1190px; margin:0 auto;padding: 1px;text-align: center; position: relative;">
					<ul class="list-inline " style="margin-top: 10px;">
						<li>关于天猫 </li>
						<li>帮助中心</li>
						<li>规则意见征集</li>
						<li>开放平台</li>
						<li>诚聘英才</li>
						<li>联系我们</li>
						<li>网站合作</li>
						<li>法律声明</li>
						<li>知识产权</li>
						<li>廉正举报</li>
					</ul>
					<ul class="list-inline partner">
						<li>阿里巴巴集团</li>
						<li> 淘宝网</li>
						<li>天猫</li>
						<li>聚划算</li>
						<li>全球速卖通</li>
						<li>阿里妈妈</li>
						<li>阿里旅行·去啊</li>
						<li>阿里云计算</li>
						<li>YunOS</li>
						<li style="border-right: none">阿里通信</li>
					</ul>
					<span class="footer_children"></span>
				</div>
			</div>
		</div>
		<script src="javascripts/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/data/city.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8" src="bootstrap/js/bootstrap.min.js"></script>
		<script src="javascripts/jquery.plugs.js" type="text/javascript" charset="utf-8"></script>
		<script src="javascripts/main.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>
